<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Private</title>
    <link rel="stylesheet" href="./static/challenge2/css/styles.css">
    <link rel="shortcut icon" href="./static/challenge2/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/challenge2/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Google Fonts CSS API https://developers.google.com/fonts/docs/getting_started -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Tangerine" rel="stylesheet">
    <!-- 
        Google Fonts CSS API v2 https://developers.google.com/fonts/docs/css2 
        Requesting unused styles may cause your users to download more font data than they need, causing more latency. 
    -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Tangerine:wght@400;700&display=swap" rel="stylesheet"> -->
</head>
<body>
    <div class="top">
        
        <img class="cloud-top" src="./static/challenge2/images/cloud.png" alt="image-cloud">
        <h1>Hi, I'm John.</h1>
        <h2>software engineer</h2>
        <img class="cloud-bottom" src="./static/challenge2/images/cloud.png" alt="image-cloud">
        <img src="./static/challenge2/images/mountain.png" alt="image-mountain">
        
    </div>
    <div class="mid">
        <div class="profile">
          <img src="./static/challenge2/images/angela.png" alt="My photo">
          <h2>Hello.</h2>
          <p class="intro">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
        </div>
        <hr>
        <div class="skills">
          <div class="skill-row">
            <img class="img-plc" src="./static/challenge2/images/ILX56-MM.png" alt="image-PLC">
            <h3>Design & Development</h3>
            <p class="design_descr">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
          </div>
          <div class="skill-row">
            <img class="img-scada" src="./static/challenge2/images/DEB_1.jpg" alt="image-SCADA">
            <h3>SCADA Development</h3>
            <p class="scada_descr">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
          </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2>Contact Me.</h2>
          <p class="text-contact">Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
          <a href="./static/challenge2/contact.html" class="BUTTON_CONTACT">CONTACT ME</a>
        </div>
      </div>
      <div class="bot">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        <p class="copywrite">© 2021 John Private.</p>
      </div>
      
</body>
</html>