<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John's Personal Site</title>
    <link rel="stylesheet" href="./static/my_site/css/styles.css">
</head>
<body>
    <table cellspacing=20>
        <tr>
            <td>
                <img src="./static/my_site/images/Fun Ride.jpg" alt="Horse Ride" width=312>
            </td>
            <td>
                <h1>John Private</h1>
                <p><em>Python Developer</em></p>
                <p>I am a retired PLC and SCADA software engineer, with over 30 years experience.<br>I am currently
                    learning Python
                    with the <a href="https://www.udemy.com/"><strong>Udemy</strong></a> course <strong>100 Days of Code
                        - The
                        Complete Python Pro Bootcamp for 2021</strong>.</p>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Education</h3>
    <ul>
        <li>School.</li>
        <li>College.</li>
        <li>Open Uni.</li>
        <li>Self-taught PLC programming.</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table border=1>
        <thead>
            <tr align="left">
                <th>Date</th>
                <th>Job</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016-2021</td>
                <td>Retired</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <hr>
    <h3>Skills</h3>
    <table>
        <tr>
            <td width=250>PLC Programming</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>SCADA Programming</td>
            <td>⭐⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>Python Programming</td>
            <td>⭐⭐⭐</td>
        </tr>

    </table>
    <hr>
    <h3>Hobbies</h3>
    <ol>
        <li>Computers.</li>
        <li>Programming.</li>
        <li>Games.</li>
        <li><a href="./static/my_site/images/Charlize.jpg">Babes.</a></li>
    </ol>
    <hr>
    <h3>Contact</h3>
    <a href="./static/my_site/contact.html">Contact Me</a>
</body>

</html>