<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Methods</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1>Input Methods</h1>
    <form class="" action="mailto:john@example.com" method="post">
        <label for="">Your name:</label>
        <input type="text" name="" value="" id="">
        <input type="color" name="" value="" id=""><br>
        <label for="">Password:</label>
        <input type="password" name="" id="">
        <input type="submit" value="Submit 1"><br>
        <label for="">Agree to terms</label>
        <input type="checkbox" name="" id="">
        <input type="date" name="" id="">
        <input type="button" value="Button 1">
        <button type="submit" name="" id="">Submit 2</button>
    </form>
</body>
</html>